@page
@model eShop.Areas.Administrator.Pages.UserModel
@{
}

<form method="post">
    <div class="container Admin">
        <p class="d-flex">
            <select class="form-select" asp-for="RoleGenere" asp-items="Model.Genres">
                <option value="">All</option>
            </select>

            <input class="form-control" type="text" asp-for="SearchString" />
            <input asp-page-handler="Filter" class="btn btn-primary menu-item" type="submit" value="Filter" />
        </p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateUser">
            Create
        </button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">UserId</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Street</th>
                    <th scope="col">City</th>
                    <th scope="col">Zip</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <th scope="row">@item.UserId</th>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.Role.Name</td>
                        @if (item.UserInformationId != null)
                        {
                            <td>@item.UserInformation.Street</td>
                            <td>@item.UserInformation.City</td>
                            <td>@item.UserInformation.ZipCode</td>
                        }
                        else
                        {
                            <td>Inoformation not disclosed</td>
                            <td>Inoformation not disclosed</td>
                            <td>Inoformation not disclosed</td>
                        }
                        <td>
                            <a asp-page="/UserEdit" asp-route-id="@item.UserId" class="btn btn-primary">Edit</a> |
                            <input class="btn btn-primary" asp-route-id="@item.UserId" type="submit" asp-page-handler="Delete" value="Delete" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                @for (var i = 1; i <= Model.totalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a asp-page="" asp-route-currentpage="@i" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</form>

<form method="post">
    <h1>Types</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateRole">
        Create
    </button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">RoleId</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <th scope="row">@item.RoleId</th>
                    <td>@item.Name</td>
                    <td>
                        <a asp-page="/ProductEdit" asp-route-id="@item.RoleId" class="btn btn-primary">Edit</a> |
                        <input class="btn btn-primary" type="submit" asp-route-id="@item.RoleId" asp-page-handler="DeleteRole" value="Delete" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


<!-- Model Create Product-->
<form method="post">
    <div class="modal Admin fade" id="CreateUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="padding">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="UserName">UserName</label>
                                            <span asp-validation-for="UserName"></span>
                                            <input class="form-control" asp-for="UserName" id="UserName" type="text" placeholder="Enter username">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <span asp-validation-for="UserName"></span>
                                            <input class="form-control" asp-for="Password" id="Password" type="password" placeholder="Enter password">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <span asp-validation-for="Email"></span>
                                            <input class="form-control" asp-for="Email" id="Email" type="email" placeholder="Enter email">
                                        </div>
                                    </div>
                                </div>

                                <span asp-validation-for="RoleId"></span>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label for="role">Role</label>
                                        <select class="form-control" asp-for="RoleId" id="role">
                                            @foreach (var item in Model.Roles)
                                            {
                                                <option value="@item.RoleId">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h5>Optinal</h5>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="Street">Street</label>
                                            <span asp-validation-for="Street"></span>
                                            <input class="form-control" asp-for="Street" id="Street" type="text" placeholder="Enter street">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="City">City</label>
                                            <span asp-validation-for="City"></span>
                                            <input class="form-control" asp-for="City" id="City" type="text" placeholder="Enter city">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="zip">Zip</label>
                                            <span asp-validation-for="Zip"></span>
                                            <input class="form-control" asp-for="Zip" id="zip" type="number" placeholder="Enter zip code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" asp-page-handler="Create" value="Create" />
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Model Create Role-->
<form method="post">
    <div class="modal Admin fade" id="CreateRole" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="padding">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="name">Role Name</label>
                                            <span asp-validation-for="Name"></span>
                                            <input class="form-control" asp-for="Name" id="name" type="text" placeholder="Enter role name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" asp-page-handler="Create" asp-route-text="Role" value="Create" />
                </div>
            </div>
        </div>
    </div>
</form>
